@import "variables";

.container {
  width: $container;
  padding: 0 30px;
  margin: 0 auto;

  .inner-container {
    width: calc(100% + (#{$gap} * 2));
    margin-left: -$gap;
  }

  @media screen and (max-width: #{$container}) {
    width: 100%;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(100% - (#{$gap} * 2));
  margin: $gap;
}

.col-1-2 {
  width: calc(50% - (#{$gap} * 2));
  margin: $gap;
}

.col-1-3 {
  width: calc(33.3% - (#{$gap} * 2));
  margin: $gap;
}
.col-1-4 {
  width: calc(25% - (#{$gap} * 2));
  margin: $gap;
}
.col-1-5 {
  width: calc(20% - (#{$gap} * 2));
  margin: $gap;
}
.content-right-aligned {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.block-right-aligned{
  margin-left: auto;
  margin-right: 0;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: -$gap;
  margin-top: $gap;
  margin-bottom: calc(#{$gap} * 2);
}

.masonry-grid_column {
  background-clip: padding-box;
  padding-left: $gap;
}

.margin-left{
  margin-left:15px;
}