$width:1230px;
$gap:15px;
$container:$width + ($gap * 4);

$color_1: #73a13b;
$color_2: #161a0b;
$color_3: #222622;
$color_4: #d2d0d0;
$color_5: rgba(226, 232, 212, 0.21);
$color_hover: #4d7414;
$red: #ee7774;


