@import "../../styles/variables";
.top-bar{
  background-color: $color_5;
  a.menu-item{
    display: flex;
  }
  .user-photo{
    border-radius: 100%;
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
  }
  svg{
    width: 20px;
  }
}