@import "../../styles/variables";

.header {

  .logo {
    svg {
      width: 50px;
      height: auto;

    }
  }

  .menu {
    display: flex;
    align-items: center;

    .menu-item {
      margin-left: 15px;

      &:hover {
        color: $color_1;
      }
    }

    .cart-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      .cart-icon {
        width: 28px;
        }
      .shopping-cart{
        position: relative;
        top: -5px;
      }

      .counter {
        position: absolute;
        font-size: 13px;
      }
    }
  }
  .mobile-menu-icon{
    svg{
      width: 20px;
      fill: $color_1;
    }
  }
  .mobile-menu{
    position: absolute;
    left: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    top: 30px;
    bottom: 30px;
    background-color: #fff;
    .close-menu-icon{
      width: 25px;
      fill: $color_1;
      align-self: end;
    }
  }
}